<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Magazyn</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>
<body>

<div class="container">
    <h1>Zawartość magazynu</h1>
    <hr>
    <div>
        <a th:href="@{/inventory/showFormForEditListOfProduct}"
           class="btn btn-warning btn-lg mb-3">
            Zaktualizuj liste produktów
        </a>
        <a style="float:right;margin-left: 5px" th:href="@{/}"
           class="btn btn-info btn-lg mb-3 col-2">
            Wyloguj
        </a>
        <a style="float:right" th:href="@{/}"
           class="btn btn-secondary btn-lg mb-3 col-2">
            Wróć
        </a>
    </div>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th width="18%">Zaktualizuj(nowa ilość)</th>
            <th width="18%">Dodaj</th>
            <th width="18%">Usuń</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="tempProduct : ${listOfProducts}">
            <td style="text-transform: capitalize;" th:text="${tempProduct.getName()}"/>
            <td th:text="${tempProduct.getQuantity()}"/>
            <td th:text="${tempProduct.getPrice()}+ zł"/>
            <td>
                <form th:action="@{/inventory/updateQuantity(productId=${tempProduct.getProductId()})}"
                      onsubmit="return myFunctionForUpdate()" th:object="${quantity}" method="post">
                    <div class="input-group">
                        <input th:type="text" id="quantityUpdate" th:name="quantityUpdate" class="form-control col-4 "
                               required pattern="\S+"/>
                        <div class="input-group-prepend">
                            <input type="submit" value="Aktualizuj" class="btn btn-primary btn-sm"/>
                        </div>

                    </div>
                </form>
            </td>
            <td>
                <form th:action="@{/inventory/addQuantity(productId=${tempProduct.getProductId()})}"
                      onsubmit="return myFunctionForAdd()" th:object="${quantity}" method="post">
                    <div  class="input-group">
                        <input th:type="text" id="quantityAdd" th:name="quantityAdd" class="form-control col-4 "
                               required pattern="\S+"/>
                        <div class="input-group-prepend">
                            <input type="submit" value="+" class="btn btn-success"/>
                        </div>

                    </div>
                </form>
            </td>
            <td>
                <form th:action="@{/inventory/removeQuantity(productId=${tempProduct.getProductId()})}"
                      onsubmit="return myFunctionForRemove()" th:object="${quantity}" method="post">
                    <div class="input-group">
                        <input th:type="text" id="quantityRemove" th:name="quantityRemove" class="form-control col-4 "
                               required pattern="\S+"/>
                        <div class="input-group-prepend">
                            <input type="submit" value="-" class="btn btn-danger"/>
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/inventory/inventory-list.js}" rel="stylesheet"></script>
</body>

</html>