<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restauracja</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link th:href="@{/css/restaurant/order-of-table.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <h1>Stolik numer: <span th:text="${numberOfTable}"/></h1>
    <hr>
    <div class="row">
        <div class="col-sm-5    ">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">

                <div class="container">
                    <div class="col">
                        <div class="row">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Pizza</th>
                                    <th width="15%">Cena</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tempDish : ${listOfDishes}" th:if="${tempDish.category} == 'pizza'">
                                    <td>
                                        <p>
                        <span style="font-size:large;font-weight: bold;text-transform: capitalize;"
                              th:text="${tempDish.getName()}"/>
                                            <span th:text="${tempDish.getDescription()}"></span>
                                        </p>
                                    </td>
                                    <td th:text="${tempDish.getPriceSell()}+ zł">
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Kebab</th>
                                    <th width="15%">Cena</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tempDish : ${listOfDishes}" th:if="${tempDish.category} == 'kebab'">
                                    <td>
                                        <p>
                        <span style="font-size:large;font-weight: bold;text-transform: capitalize;"
                              th:text="${tempDish.getName()}"/>
                                            <span th:text="${tempDish.getDescription()}"></span>
                                        </p>
                                    </td>
                                    <td th:text="${tempDish.getPriceSell()}+ zł"/>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Sałatki</th>
                                    <th width="15%">Cena</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="tempDish : ${listOfDishes}" th:if="${tempDish.category} == 'sałatka'">
                                    <td>
                                        <p>
                        <span style="font-size:large;font-weight: bold;text-transform: capitalize;"
                              th:text="${tempDish.getName()}"/>
                                            <span th:text="${tempDish.getDescription()}"></span>
                                        </p>
                                    </td>
                                    <td th:text="${tempDish.getPriceSell()}+ zł"/>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>Soki</th>
                                    <th width="15%">Cena</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="tempDish : ${listOfDishes}" th:if="${tempDish.category} == 'sok'">
                                    <td>
                                        <p>
                        <span style="font-size:large;font-weight: bold;text-transform: capitalize;"
                              th:text="${tempDish.getName()}"/>
                                            <span th:text="${tempDish.getDescription()}"></span>
                                        </p>
                                    </td>
                                    <td th:text="${tempDish.getPriceSell()}+ zł"/>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-5">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Danie</th>
                        <th width="15%">Cena</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tempDish : ${order}">
                        <td th:text="${tempDish.getName()}"
                            style="font-size:large;font-weight: bold;text-transform: capitalize;"/>
                        <td th:text="${tempDish.getPriceSell()}+ zł"/>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-2">
            <p style="font-size:large;font-weight: bold;">Do zapłaty:  <span th:text="${money}"/>zł</p>
            <br>
            <a th:href="@{/}"
               class="btn btn-primary btn-lg" style="width: 100%">
                Dodaj do zamówienia
            </a>
            <br>
            <a th:href="@{/}"
               class="btn btn-danger btn-lg" style="width: 100%">
                Usuń z zamówienia
            </a>
            <br>
            <br>

            <a th:href="@{/}"
               class="btn btn-success btn-lg" style="width: 100%">
                Przyjmij płatność
            </a>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a th:href="@{/restaurant/restaurantRoom}"
               class="btn btn-secondary btn-lg" style="width: 100%">
                Wróć
            </a>

        </div>
    </div>

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>