<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sala</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link th:href="@{/css/restaurant/restaurant-room.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <h1>Sala</h1>
    <hr>
    <div id="container" class=" bg-white">
        <a  th:href="@{/restaurant/orderOfTable(tableId=1)}">
            <div class="border border-dark bg-light text-dark" id="table1">Stolik nr:1</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=5)}">
            <div class="border border-dark bg-light text-dark" id="table5">Stolik nr:5</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=9)}">
            <div class="border border-dark bg-light text-dark" id="table9">Stolik nr:9</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=2)}">
            <div class="border border-dark bg-light text-dark" id="table2">Stolik nr:2</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=6)}">
            <div class="border border-dark bg-light text-dark" id="table6">Stolik nr:6</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=10)}">
            <div class="border border-dark bg-light text-dark" id="table10">Stolik nr:10</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=3)}">
            <div class="border border-dark bg-light text-dark" id="table3">Stolik nr:3</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=7)}">
            <div class="border border-dark bg-light text-dark" id="table7">Stolik nr:7</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=11)}">
            <div class="border border-dark bg-light text-dark" id="table11">Stolik nr:11</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=4)}">
            <div class="border border-dark bg-light text-dark" id="table4">Stolik nr:4</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=8)}">
            <div class="border border-dark bg-light text-dark" id="table8">Stolik nr:8</div>
        </a>
        <a th:href="@{/restaurant/orderOfTable(tableId=12)}">
            <div class="border border-dark bg-light text-dark" id="table12">Stolik nr:12</div>
        </a>

        <div id="wyloguj"><a th:href="@{/}"
                             class="btn btn-secondary btn-lg">
            Wyloguj
        </a></div>
    </div>
</div>

</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>