<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodaj użytkownika</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Dodaj użytkownika</h1>
    <hr>
</div>
<div class="container" th:align="center">
    <p class="h1 mb-4">Użytkownik</p>
    <form th:action="@{/users/saveUser}"
          th:object="${user}" method="post">
        <div th:if="${#fields.hasErrors('username')}" class="alert alert-danger col-4">
            <p class="h3" style="text-align: center;margin-top: 0" th:errors="*{username}"/>
        </div>
        <input style="height:50px" type="text" th:field="*{username}"
               class="form-control mb-4 col-4 " placeholder="Login" required/>
        <input style="height:50px" type="password" th:field="*{password}" id="password"
               class="form-control mb-4 col-4 " placeholder="Hasło" required/>
        <input style="height:50px" type="password" id="confirm_password"
               class="form-control mb-4 col-4 " placeholder="Potwierdź hasło" required/>
        <select class="form-control mb-4 col-4" style="height:50px" th:name="role">
            <option th:text="ROLE_WAITER" th:value="ROLE_WAITER"/>
            <option th:text="ROLE_MANAGER" th:value="ROLE_MANAGER"/>
            <option th:text="ROLE_ADMIN" th:value="ROLE_ADMIN"/>
        </select>
        <button type="submit" class="btn btn-info btn-lg col-4">Zapisz</button>
    </form>
    <br>
    <a th:href="@{/users/allUsers}"
       class="btn btn-secondary btn-lg col-4">
        Wróć
    </a>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Hasła nie są identyczne");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
</body>
</html>
