<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Podsumowanie</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 th:text="'Data: ' + ${summaryOfDay.get(0).getdate()}"/>
    <hr>
    <form th:action="@{/logout}" method="post">
    <div>
        <a th:href="@{/summary/getDays(year=${summaryOfDay.get(0).getdate().year},month=${summaryOfDay.get(0).getdate().monthValue})}"
           class="btn btn-secondary btn-lg mb-3 col-2">
            Wróć
        </a>
        <input type="submit" value="Wyloguj"
               class="btn btn-info btn-lg mb-3 col-2" style="float:right"/>
    </div>
    </form>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th style="font-size: 25px;">Danie</th>
            <th style="font-size: 25px;">Ilość</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempSummary : ${summaryOfDay}">
            <td>
                <p>
                        <span style="font-size:large;font-weight: bold;text-transform: capitalize;"
                              th:text="${tempSummary.getdish().getName()}"/>
                    <span th:text="'kategoria: ' + ${tempSummary.getdish().getCategory()}"></span>
                </p>
            </td>
            <td style="font-size:large" th:text="${tempSummary.getQuantity()}"/>
        </tbody>
    </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>